h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

.mt-1 {
  margin-top: 1em !important;
}
.mt-2 {
  margin-top: 2em !important;
}
.mt-3 {
  margin-top: 3em !important;
}
.mt-4 {
  margin-top: 4em !important;
}
.mt-5 {
  margin-top: 5em !important;
}
.mt-6 {
  margin-top: 6em !important;
}
.mt-7 {
  margin-top: 7em !important;
}
.mt-8 {
  margin-top: 8em !important;
}
.mt-9 {
  margin-top: 9em !important;
}

.mb-1 {
  margin-bottom: 1em !important;
}
.mb-2 {
  margin-bottom: 2em !important;
}
.mb-3 {
  margin-bottom: 3em !important;
}
.mb-4 {
  margin-bottom: 4em !important;
}
.mb-5 {
  margin-bottom: 5em !important;
}
.mb-6 {
  margin-bottom: 6em !important;
}
.mb-7 {
  margin-bottom: 7em !important;
}
.mb-8 {
  margin-bottom: 8em !important;
}
.mb-9 {
  margin-bottom: 9em !important;
}

.mr-1 {
  margin-right: 1em !important;
}
.mr-2 {
  margin-right: 2em !important;
}
.mr-3 {
  margin-right: 3em !important;
}
.mr-4 {
  margin-right: 4em !important;
}
.mr-5 {
  margin-right: 5em !important;
}
.mr-6 {
  margin-right: 6em !important;
}
.mr-7 {
  margin-right: 7em !important;
}
.mr-8 {
  margin-right: 8em !important;
}
.mr-9 {
  margin-right: 9em !important;
}

.ml-1 {
  margin-left: 1em !important;
}
.ml-2 {
  margin-left: 2em !important;
}
.ml-3 {
  margin-left: 3em !important;
}
.ml-4 {
  margin-left: 4em !important;
}
.ml-5 {
  margin-left: 5em !important;
}
.ml-6 {
  margin-left: 6em !important;
}
.ml-7 {
  margin-left: 7em !important;
}
.ml-8 {
  margin-left: 8em !important;
}
.ml-9 {
  margin-left: 9em !important;
}

.pt-1 {
  padding-top: 1em !important;
}
.pt-2 {
  padding-top: 2em !important;
}
.pt-3 {
  padding-top: 3em !important;
}
.pt-4 {
  padding-top: 4em !important;
}
.pt-5 {
  padding-top: 5em !important;
}
.pt-6 {
  padding-top: 6em !important;
}
.pt-7 {
  padding-top: 7em !important;
}
.pt-8 {
  padding-top: 8em !important;
}
.pt-9 {
  padding-top: 9em !important;
}

.pb-1 {
  padding-bottom: 1em !important;
}
.pb-2 {
  padding-bottom: 2em !important;
}
.pb-3 {
  padding-bottom: 3em !important;
}
.pb-4 {
  padding-bottom: 4em !important;
}
.pb-5 {
  padding-bottom: 5em !important;
}
.pb-6 {
  padding-bottom: 6em !important;
}
.pb-7 {
  padding-bottom: 7em !important;
}
.pb-8 {
  padding-bottom: 8em !important;
}
.pb-9 {
  padding-bottom: 9em !important;
}

.pr-1 {
  padding-right: 1em !important;
}
.pr-2 {
  padding-right: 2em !important;
}
.pr-3 {
  padding-right: 3em !important;
}
.pr-4 {
  padding-right: 4em !important;
}
.pr-5 {
  padding-right: 5em !important;
}
.pr-6 {
  padding-right: 6em !important;
}
.pr-7 {
  padding-right: 7em !important;
}
.pr-8 {
  padding-right: 8em !important;
}
.pr-9 {
  padding-right: 9em !important;
}

.pl-1 {
  padding-left: 1em !important;
}
.pl-2 {
  padding-left: 2em !important;
}
.pl-3 {
  padding-left: 3em !important;
}
.pl-4 {
  padding-left: 4em !important;
}
.pl-5 {
  padding-left: 5em !important;
}
.pl-6 {
  padding-left: 6em !important;
}
.pl-7 {
  padding-left: 7em !important;
}
.pl-8 {
  padding-left: 8em !important;
}
.pl-9 {
  padding-left: 9em !important;
}

body,
html {
  background-color: rgb(248, 248, 248);
}

.modal-content {
  padding-bottom: 2px !important;
}

.modal-footer {
  padding-bottom: 20px !important;
}

.page-title {
  font-size: 24px;
}

main {
  margin: 90px auto 0 auto !important;
  width: 90vw;
  overflow-y: auto;
}

.flex-wrapper {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.dropdown-icon {
  margin-left: 0 !important;
}

.text-helper {
  color: rgb(160, 160, 160);
}

.container {
  max-width: 900px !important;
  margin: 0 auto 0 auto !important;
}

.section-title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.section-title h4 {
  margin: 0 !important;
}

.section-title h5 {
  margin: 0 !important;
}

.section-title a {
  margin-left: auto;
}

.user-panel {
  right: 15px;
  top: 60px;
  margin: 0px;
  position: absolute !important;
  max-width: 300px !important;
  width: 90% !important;
  z-index: 9999;
  background-color: rgba($color: #ffffff, $alpha: 1);

  .collapsible {
    margin: 0;
  }

  .user-panel-header {
    margin: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;

    .user-icon {
      border-radius: 99999px;
      width: 50px;
      height: 50px;
      color: white;
      display: flex;
      margin-right: 10px;
      align-items: center;
      justify-content: center;
    }

    .user-identification {
      display: flex;
      flex-direction: column;
    }

    .user-name {
      font-size: 17px;
      font-weight: 700;
    }
  }
}

.user-panel-trigger {
  width: 100%;
}

.notification-panel {
  right: 15px;
  top: 60px;
  position: absolute !important;
  max-width: 320px !important;
  width: 90% !important;
  z-index: 9999;
  padding: 0 !important;
  background-color: rgba($color: #ffffff, $alpha: 1) !important;

  .panel-header {
    margin: 10px 0 10px 0;
    padding: 0 0 0 10px;
    font-size: 16px;
    font-weight: 500;
    color: rgba($color: #424242, $alpha: 1);
  }

  .panel-body {
    width: 100%;
    border-top: rgb(216, 216, 216) solid 1px;
    margin: 0 !important;

    .notification {
      display: flex;
      flex-direction: row;
      cursor: pointer;
      padding: 10px 0 10px 0;
      align-items: center;

      a{
        display: flex;
        flex-direction: row;

      .notification-text{
        display:flex;
        flex-direction: column;

        .up-text{
          font-size: 14px;
          font-weight: 600;
          color: rgb(53, 53, 53);
        }

        .down-text{
          font-size: 12px;
          color: rgb(88, 88, 88);
        }
      }
    }


      &:hover {
        background-color: rgba($color: #e7e7e7, $alpha: 1);
      }

      .notification-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 8px;
        margin: 0 10px 0 10px;
        border-radius: 9999px;

        i {
          font-size: 30px;
          color: white;
        }
      }
    }
  }
}

.hide {
  display: none !important;
}

.ql-editor strong {
  font-weight: bold !important;
}

.alert {
  width: 100%;
  padding: 4px 10px 4px 10px;
  border-radius: 5px;
  p {
    color: #ffffff;
  }
}

body {
  overflow: auto !important;
  display: flex !important;
  min-height: 100vh !important;
  flex-direction: column !important;
}

footer {
  position: relative;
  bottom: 0px;
  padding: 7px 0 7px 0;

  p {
    margin: 0;
  }
}
main {
  flex: 1 0 auto;
}

.error-message {
  flex-direction: column;
  i.error_icon {
    font-size: 120px !important;
    margin: 0 20px 0 0;
    color: #e53935;
  }
  font-size: 30px !important;
}

hr {
  height: 1px !important;
  background-color: rgb(134, 134, 134) !important;
  border: none !important;
}

.tabs .tab a:hover,
.tabs .tab a.active,
.tab a {
  color: #1e88e5 !important;
}
.tabs .indicator {
  background-color: #1e88e5 !important;
}

.homecard {
  padding: 50px 0 50px 0 !important;
}

.table-badge {
  margin: 0 10px 0 0;
  padding: 2px;
  color: white;
  display: flex;
  justify-content: center;
  align-content: center;
}

li .dropdown-content {
  width: 200px !important;
}

.switch-label {
}

.options {
  margin: 0 !important;
  border-top: 1px solid rgb(190, 190, 190);
  li {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;

    &:hover {
      background-color: rgba($color: #e9e9e9, $alpha: 1);
    }

    a {
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      i {
        margin: 0 15px 0 10px;
      }
      span {
        color: rgba($color: #383838, $alpha: 1) !important;
      }
    }
  }
}

.position-fixed {
  width: 100vw;
  position: fixed;
  z-index: 9999;
}

nav.nav {
  box-shadow: none !important;
  background-color: rgb(245, 245, 245);
  .nav-wrapper {
    ul {
      li {
        a {
          i {
            color: rgb(104, 104, 104) !important;
          }
          color: rgb(51, 51, 51);
        }
      }
    }
  }
}

.card {
  margin: 0px;
  background-color: rgba($color: #ffffff, $alpha: 1);
}

.tabs {
  z-index: 99;
  box-shadow: 0px 1px 9px 0px rgba(0, 0, 0, 0.233) !important;
}

i.material-icons {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.background {
  top: 0;
  left: 0;
  position: absolute;
  background-color: rgba($color: #000000, $alpha: 0.4);
  width: 100vw;
  height: 100vh;
  z-index: 200;
  display: flex;
  justify-content: center;
  align-items: center;

  .selectOrderType {
    width: 90%;
    max-width: 500px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    a {
      height: 50vh;
      max-height: 400px;
      width: 50%;
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: center;
      flex-direction: column;
      cursor: pointer;

      &:hover {
        background-color: #dadada;
      }

      div.icon {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        i {
          font-size: 50px;
          color: #fff;
        }
      }

      p {
        color: #424242;
        font-size: 20px;
      }
    }
  }
}

.div-disabled{
  color: rgb(133, 133, 133) !important;
}

.div-disabled{
  *{
    color: rgb(133, 133, 133) !important;
  }
  *{
    *{
      color: rgb(133, 133, 133) !important;
    }
  }
}

.docs-list{
  li{
    margin-top: 5px;
  }
}